.container {
  background-color: #96252b;
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
}
.space-1,
.space-2,
.space-3,
.space-4,
.spacee,
.footer-space {
  width: 130px;
}
.title,
.china,
.para-1,
.best-clubs,
.mainn,
.best-main,
.text-bvb,
.bvb-img-main {
  display: flex;
}
.img-main {
  margin-top: 40px;
}
.bvb-main-main {
  margin-top: 45px;
}
.bvb-img {
  width: 117px;
}
.lorem-red {
  color: #96252b;
  text-align: center;
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}
.lorem-paragraph {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.best-headings {
  font-size: 56px;
  font-weight: 900;
  font-family: system-ui;
  margin-bottom: 0px;
  margin-top: 43px;
  margin-left: 17px;
}
.main-logo {
  width: 300px;
}
.logo-img {
  margin-top: 50px;
  margin-left: 136px;
}
.red-card {
  font-size: 78px;
  font-family: sans-serif;
  font-weight: 900;
  color: white;
  height: auto;
  margin: 0px;
  margin-top: 42px;
  margin-left: 127px;
}
.red-card-div {
  height: 137px;
}
.digital-award {
  height: 60px;
  font-family: sans-serif;
  font-weight: 900;
  margin-top: 0px;
}
.para {
  width: 1112px;
  font-family: system-ui;
  font-size: 23px;
  color: white;
  line-height: 32px;
  margin-left: 133px;
  font-weight: 400;
}
.triangle {
  position: relative;
  left: 142px;
}
.mainn {
  position: relative;
}
.award-1 {
  font-size: 38px;
  font-weight: 900;
  margin-top: 0px;
  margin-left: 127px;
}
.triangle-1 {
  width: 155px;
}
.best-clubs-title {
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: sans-serif;
  font-weight: 800;
  left: 150px;
  position: relative;
}
.lorem {
  width: 122px;
  position: relative;
  left: 205px;
}
.container-main {
  margin-left: 200px;
  margin-top: 50px;
}
.best-main {
  margin-bottom: 37px;
}
.bvb-img-main {
  gap: 85px;
}
.best-clubs {
  height: 133px;
}
.spacee-2 {
  width: 200px;
}
.spacee-3 {
  width: 80px;
}
.lorem-ip {
  font-size: 21px;
  margin: 0px;
  color: #96252b;
  font-weight: 900;
}
.lrm {
  margin: 0px;
  font-weight: 900;
  font-size: 19px;
}
.another-space {
  width: 76px;
}
.container-2 {
  background-color: #96252b;
  width: 100%;
  height: 411px;
  margin-top: 100px;
}
.footer {
  font-size: 55px;
}
.footer-space {
  height: 100px;
}
.reports {
  font-size: 55px;
  font-family: system-ui;
  font-weight: 900;
  color: white;
  margin: 0px;
  padding-top: 107px;
  margin-left: 145px;
}
.footer-tri-1{
  border-right: 106px solid #ffffff;
  border-top: 130px solid transparent;
  float: right;
  margin-right: 0px;
  width: 435px;
  margin-top: 280px;
}
.text-bvb {
  height: 100px;
}
.tri {
  border-right: 52px solid #96252b;
  border-top: 42px solid transparent;
  margin-top: 61px;
  margin-right: 0px;
}
.triangle-white {
  border-right: 72px solid #ffffff;
  border-top: 128px solid transparent;
  margin-top: 17px;
  float: left;
  margin-right: 0px;
}
.bg-tri {
  background-color: #96252b;
  display: flex;
  justify-content: end;
}
.footer-tri {
  border-right: 56px solid #ffffff;
  border-top: 82px solid transparent;
  float: right;
  margin-right: 0px;
  width: 435px;
}
.footer-flex {
  margin-top: 127px;
}
